<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Детали заказа</title>
</head>
<body>
<table>
    {{order}}
    <tr>
        <th>Товар</th>
        <th>Количество</th>
        <th>Стоимость</th>
        <th>Товары</th>
        <th>Товары</th>
    </tr>
    {% if not list_of_all_order_items %}
    пошел нахуй долбаеб
    {% endif %}
    {{list_of_all_order_items}}
    {% for order_items in list_of_all_order_items %}
    <tr>
        <td>{{ order_item.product }}</a></td>
        <td>{{ order.order_items }}</a></td>
        <td>{{ order.product.quantity }}</td>
        <td>{{ order.product.price }}</td>
    </tr>
    {% endfor %}
</table>
</body>
</html>